<div class="jumbotron">
  <div class="container">
    <h1> Teste de Personalidade </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>Parabéns! Você completou o teste!</p>
    </div>
  </div>

  <div class="col-xs-12 col-md-12">
    <p><%= @personality.extravertion %></p>
    <p><%= @personality.agreeableness %></p>
    <p><%= @personality.conscientiousness %></p>
    <p><%= @personality.neuroticism %></p>
    <p><%= @personality.openness %></p>
  </div>
</div>