<div class="jumbotron">
  <div class="container">
    <h1> Teste de Personalidade </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p>Parabéns, <%= @user.name %>! Você completou o teste!</p>
    </div>
  </div>

  <div class="col-xs-12 col-md-12">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar" role="progressbar" aria-valuenow="<%= @personalities.agreeableness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @personalities.agreeableness * 20 %>%">
        <span class="sr-only"><%= @personalities.agreeableness %></span>
      </div>
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= @personalities.agreeableness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - (@personalities.agreeableness * 20) %>%">
        <span class="sr-only"><%= @personalities.agreeableness %></span>
      </div>
    </div>
    <p class="col-xs-6 col-md-6">Independente</p>
    <p class="col-xs-offset-11 col-md-offset-11">Agradável</p>
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar" role="progressbar" aria-valuenow="<%= @personalities.conscientiousness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @personalities.conscientiousness * 20 %>%">
        <span class="sr-only"><%= @personalities.conscientiousness %></span>
      </div>
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= @personalities.conscientiousness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - (@personalities.conscientiousness * 20) %>%">
        <span class="sr-only"><%= @personalities.conscientiousness %></span>
      </div>
    </div>
    <p class="col-xs-6 col-md-6">Bagunceiro</p>
    <p class="col-xs-offset-11 col-md-offset-11">Consciente</p>
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar" role="progressbar" aria-valuenow="<%= @personalities.extraversion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @personalities.extraversion * 20 %>%">
        <span class="sr-only"><%= @personalities.extraversion %></span>
      </div>
      <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="<%= @personalities.extraversion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - (@personalities.extraversion * 20) %>%">
        <span class="sr-only"><%= @personalities.extraversion %></span>
      </div>
    </div>
    <p class="col-xs-6 col-md-6">Introvertido</p>
    <p class="col-xs-offset-11 col-md-offset-11">Extrovertido</p>
    <div class="progress">
      <div class="progress-bar progress-bar-danger progress-bar" role="progressbar" aria-valuenow="<%= @personalities.neuroticism %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @personalities.neuroticism * 20 %>%">
        <span class="sr-only"><%= @personalities.neuroticism %></span>
      </div>
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="<%= @personalities.neuroticism %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - (@personalities.neuroticism * 20) %>%">
        <span class="sr-only"><%= @personalities.neuroticism %></span>
      </div>
    </div>
    <p class="col-xs-6 col-md-6">Constante</p>
    <p class="col-xs-offset-11 col-md-offset-11">Instável</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= @personalities.openness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @personalities.openness * 20 %>%">
        <span class="sr-only"><%= @personalities.openness %></span>
      </div>
      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="<%= @personalities.openness %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - (@personalities.openness * 20) %>%">
        <span class="sr-only"><%= @personalities.openness %></span>
      </div>
    </div>
    <p class="col-xs-6 col-md-6">Conservador</p>
    <p class="col-xs-offset-11 col-md-offset-11">Liberal</p>
  </div>
  <p>Por favor, compartilhe esse teste no seu facebook para ajudar a minha pesquisa =)</p>
  <div class="fb-share-button" data-href="https://teste-personalidade.herokuapp.com/personality_questions/new" data-layout="button_count"></div>
</div>
